/* Add CSS Styling */

.odd {
    background-color: #ff5f7a;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second {
    color: #1403ff;
    font-size: 36px;
}

#third {
    font-size: 24px;
}

#fourth {
    background-color: #5eff6b;
    font-size: 24px;
    font-weight: bold;
}